{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению автомобиля{% endblock %}

{% block content %}
<div class="features">
    <h1>Форма по добавлению автомобиля</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.id }}<br>
        {{ form.mileage }}<br>
        {{ form.vehicle_age }}<br>
        {{ form.reported_issues }}<br>
        {{ form.fuel_efficiency }}<br>
        {{ form.service_history }}<br>
        {{ form.accident_history }}<br>
        {{ form.tire_condition }}<br>
        {{ form.brake_condition }}<br>
        {{ form.battery_status }}<br>
        {{ form.days_since_last_service }}<br>
        {{ form.days_to_warranty_expire }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить автомобиль</button>
    </form>
</div>
{% endblock %}