{% extends 'main/layout.html' %}

{% block title %}Автомобили{% endblock %}

{% block content %}
<a href="{% url 'drivers_download' %}" class="btn btn-info">Скачать датасет</a>
<div class="features">
    <h1>Автомобили</h1>
    {% if drivers %}
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Initials</th>
                <th>Age</th>
                <th>Experience</th>
            </tr>
            {% for driver in drivers %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td>{{ driver.initials }}</td>
                    <td>{{ driver.age }}</td>
                    <td>{{ driver.experience }}</td>
                    <td><a href="{% url 'driver_details' driver.id %}" class="btn btn-warning">Просмотреть все поля</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>У вас нет записей!</p>
    {% endif %}
</div>
{% endblock %}