{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению поездки{% endblock %}

{% block content %}
<div class="features">
    <h1>Форма по добавлению поездки</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.car_id }}<br>
        {{ form.driver_id }}<br>
        {{ form.length }}<br>
        {{ form.date }}<br>
        {{ form.rating }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить поездку</button>
    </form>
</div>
{% endblock %}