{% extends 'main/layout.html' %}

{% block title %}Поездки{% endblock %}

{% block content %}
<a href="{% url 'trips_download' %}" class="btn btn-info">Скачать датасет</a>
<div class="features">
    <h1>Поездки</h1>
    {% if trips %}
        <table class="table">
            <tr>
                <th>Car Id</th>
                <th>Driver Id</th>
                <th>Length</th>
                <th>Date</th>
                <th>Rating</th>
            </tr>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.car_id }}</td>
                    <td>{{ trip.driver_id }}</td>
                    <td>{{ trip.length }}</td>
                    <td>{{ trip.date }}</td>
                    <td>{{ trip.rating }}</td>
                    <td><a href="{% url 'trip_details' trip.id %}" class="btn btn-warning">Просмотреть все поля</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>У вас нет записей!</p>
    {% endif %}
</div>
{% endblock %}