{% extends 'main/layout.html' %}

{% block title %}Данные о поездке{% endblock %}

{% block content %}
<div class="features">
    <h1>Данные о поездке</h1>
    <table class="table">
        <tbody>
            <tr>
                <td><b>Car Id</b></td>
                <td>{{ trip.car_id }}</td>
            </tr>
            <tr>
                <td><b>Driver Id</b></td>
                <td>{{ trip.driver_id }}</td>
            </tr>
            <tr>
                <td><b>Length</b></td>
                <td>{{ trip.length }}</td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td>{{ trip.date }}</td>
            </tr>
            <tr>
                <td><b>Rating</b></td>
                <td>{{ trip.rating }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'trip_delete' trip.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'trip_update' trip.id %}" class="btn btn-info">Редактировать</a>
</div>
{% endblock %}